{% extends 'layout.html' %}
{% block title %}
已到达大包
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        {% if schema %}
        <table class="table">
            <thead>
            <tr>
                {% for key in cols%}
                <td>{{schema[key]}}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for record in cursor.fetchall() %}
            <tr>
                {% for i in range(len(record) -1 ) %}
                <td>{{ record[i] }}</td>
                {% endfor %}
                <td><a href='detail_package.html?filetime={{record[2]}}&nameid={{record[0]}}&metatxtid={{record[1]}}&receivercity={{record[3]}}&n={{record[4]}}'>{{record[4]}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
