{% extends 'layout.html' %}
{% block title %}
包裹查询系统
{% endblock %}
{% block page_content %}
<h1 style="vertical-align: bottom; display: inline-block;">How to Show SQLA</h1>
<div class="metanav">
</div>
<form action="{{ url_for('select_entry')}}" method="post" class="add-entry">
    <label for="workcode">Workcode</label>
    <input type="text" size="30" name="workcode" id="workcode"><br>
    <label for="metastatus">Metastatus</label>
    <select name="metastatus" id="metastatus ">
        <option value="0">0</option>
        <option value="1">1</option></select><br>
    <input type="submit" value="Select">
</form>
<form action="{{ url_for('show_entries')}}" method="post">
    <input type="submit" value="Show">
</form>
{% if select_records %}
<p> {{select_records}}</p>
{% endif %}
{% if cursor %}
<table border="1">
<thead>
{% for field in field_names %}
<td> {{field}} </td>
{% endfor %}
</thead>
    {% for item in cursor.fetchall() %}
    <tr>
        {% for i in range(len(field_names)) %}
            <td>{{item[i]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
