.ax_h1 {
  font-family:'Arial Negreta', 'Arial';
  font-style:normal;
  font-weight:700;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
  width:200px;
  height:37px;
  float:left;
}
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}

